{% extends 'admin_navigation.html' %}
{% load static %}
{% block body %}

<!--	<div class="w3l_banner_info" style="height:10px">-->
<!--		<div class="slider1">-->
<!--			<div class="callbacks_container">-->
<!--				<ul class="rslides" id="slider3">-->
<!--					<li>-->
<!--						<div class="slider1-img" style="height:90px">-->
<!--							<div class="slider_banner_info">-->


<!--							</div>-->
<!--						</div>-->
<!--					</li>-->


<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	&lt;!&ndash; //banner-slider &ndash;&gt;-->
</div>
</header>

<div class="container">
    <h2 class="display-5 subjects-section-title text-center" id="subjects"><b>Change Password</b></h2>
    {% comment %} <h2 align="center" style="margin-top:4%;font-family:'Monotype Corsiva';color:red">Change Password</h2>
    {% endcomment %}
    <hr>

    <div align="left" class="container-fluid" style="width:70%;margin-top:4%">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Old Password</label>
                <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" name="pwd3"
                    type="password">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">New Password</label>
                <input aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" name="pwd1"
                    type="password">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input class="form-control" id="exampleInputPassword1" name="pwd2" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>


{% ifequal terror "yes" %}
<script>
    alert('Password Changed.....');
    window.location = ('{% url '
        logout ' %}')
</script>
{% endifequal %}
{% ifequal terror "not" %}
<script>
    alert('New Password and Confirm Password are not match');
</script>
{% endifequal %}

{% endblock %}