{% extends 'index.html' %}
{% load static %}
{% block body %}
{% if terror %}
<script>
	alert('Booking Successful,we will contact you soon');
	window.location = ('{% url 'customer_order' %}');
</script>
{% endif %}

{% comment %} <div class="w3l_banner_info" style="height:0px">
	<div class="slider1">
		<div class="callbacks_container">
			<ul class="rslides" id="slider3">
				<li>
					<div class="slider1-img" style="height:90px">
						<div class="slider_banner_info">


						</div>
					</div>
				</li>


			</ul>
		</div>
	</div>
</div> {% endcomment %}
</div>
</header>

<section class="contact " id="contact" style="margin-top:7%">
	{% comment %} <h3>Booking Form</h3><iframe style="height:0"></iframe> {% endcomment %}
	<div class="text-center my-3 py-4">
		<h2 class="display-5 mb-3 subjects-section-title" id="subjects">Booking Form</h2>
		<p class="lead h5 subject-section-lead">Fill the below form to book an appointment.</p>
	</div>
	<!-- contact -->
	<section id="contact" style="padding:0px">
		<div class="container">
			<h5 class="w3ls-title text-center text-uppercase pb-md-5"></h5>
			<div class="row contact-form mb-5">
				<div class="col-lg-6  mt-lg-0 contact-right">
					<div class="card-shadow">
						<img src="{% static 'images/book_now.png' %}" class="img-fluid">
					</div>
					{% comment %} <div class="address mt-3">
						<address>
							<img src="{% static 'images/book_now.png' %}" style="width:100%" />
						</address>
					</div> {% endcomment %}
				</div>
				<div class="col-lg-6 wthree-form-left py-3 shadow-sm"
					style="border: 1px solid #800080; border-radius: 7px;">
					<!-- contact form grid -->
					<div class="contact-top1">
						<form action="#" method="post" class="f-color " enctype="multipart/form-data">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-12 mb-2">
									<label for="contactusername">Name</label>
									<input class="form-control" type="text" name="name" value="{{ser.user.first_name}}"
										readonly required="">
								</div>
								<div class="col-md-12 mb-2">
									<label for="contactemail">Mobile</label>
									<input class="form-control" type="text" name="contact" value="{{ser.contact}}"
										required="" readonly>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 mb-2">
									<label for="contactusername">Address</label>
									<input class="form-control" type="text" name="add" value="{{ser.address}}"
										required="" readonly>
								</div>
								<div class="col-md-12 mb-2">
									<label for="contactemail">From Date</label>
									<input class="form-control" type="date" name="date" required="">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mb-2">
									<label for="contactusername">Days(In Numbers)</label>
									<input type="number" name="day" class="form-control" required>
									<!--<select class="form-control" name="day" required="">
                                        <option>Select Days</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>4</option>
                                        <option>7</option>
                                        <option>15</option>
                                        <option>30</option>

                                    </select>-->
								</div>
								<div class="col-md-12 mb-2">
									<label for="contactusername">Hours(Per Day)</label>
									<select class="form-control" name="hour" required="">
										<option>Select Hours</option>
										<option>1-2</option>
										<option>2-4</option>
										<option>4-6</option>
										<option>6-8</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 mb-2">
									<button type="submit" class="btn btn-info w-100 mt-3"
										style="background-color: #800080;">Book Now</button>
								</div>
							</div>

						</form>
					</div>
					<!--  //contact form grid ends here -->
				</div>
				<!-- contact details -->
				<!-- contact map grid -->

				<!--//contact map grid ends here-->
			</div>
		</div>
	</section>
</section>
<!-- //contact -->

{% endblock %}