{% extends 'index.html' %}
{% load static %}
{% block body %}
<style>
.table th{
    color: white !important;
    font-weight:bold !important;
}
.table td{
    color: white !important;
}

</style>

<!--	<div class="w3l_banner_info" style="height:10px">-->
<!--		<div class="slider1">-->
<!--			<div class="callbacks_container">-->
<!--				<ul class="rslides" id="slider3">-->
<!--					<li>-->
<!--						<div class="slider1-img" style="height:10px">-->
<!--							<div class="slider_banner_info">-->


<!--							</div>-->
<!--						</div>-->
<!--					</li>-->


<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!-- //banner-slider -->
</div>
</header>

<div class="container-fluid" style="padding-top:7%; background-color: #800080; min-height: 450px;">
    <div class="container">
        <div class="container-fluid pb-5">
           <h1 class="display-5 text-white text-center pt-3">My Bookings</h1>
            <hr style="width: 25%; background-color: #fff; padding: 1px;">
        </div>
        <table class="table table-hover dblock" style="overflow-x: auto; white-space: nowrap; margin:auto;">
            <thead>
            <tr>
                <th scope="col" >#</th>
                <th scope="col" >Subject</th>
                <th scope="col" >Teacher</th>
                <th scope="col" >Contact</th>
                <th scope="col" >Date</th>
                <th scope="col" >Days</th>
                <th scope="col" >Hours</th>
                <th scope="col" >Status</th>
                <th scope="col" >View detail</th>
                <th scope="col" >Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in order %}
            <tr>
                <td scope="row">{{forloop.counter}}</td>
                <td>{{i.service.service_name}}</td>
                <td>{{i.service.user.first_name}} {{i.service.user.last_name}}</td>
                <td>{{i.service.contact}}</td>
                <td>{{i.book_date}}</td>
                <td>{{i.book_days}}</td>
                <td>{{i.book_hours}}</td>
                <td>{{i.status.status}}</td>
                <td><a href="{% url 'Booking_detail' i.id %}"><i class="fa fa-eye"
                                                                 style="font-size:30px;color:green"></i></a></td>
                <td><a href="{% url 'delete_Booking' i.id %}"><i class="fa fa-times" onclick="return confirm('Are You Confirm?')"
                                                                 style="font-size:30px;color:red"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}