{% extends 'index.html' %}
{% load static %}
{% block body %}
<!---Hero Starts Here ------>
<div class="hero">
    <div class="container col-xxl-8 px-4 ">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
            <div class="col-10 col-sm-8 col-lg-6">
                <img alt="Bootstrap Themes" class="d-block mx-lg-auto img-fluid" height="500" loading="lazy"
                    src="/static/images/hero-img.png" width="500">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3 text-white">Free Expert Tutors at Your Doorsteps!</h1>
                <p class="lead text-white">Tutor Desk is the best way to find qualified tutors for all your needs.
                    Search for a tutor in your
                    city &
                    connect
                    with them for 100% Free!</p>
                <div class="d-grid gap-1 d-md-flex justify-content-md-start mt-5">
                    <button class="btn btn-lg px-4 mr-2 my-1" id="hero-btn-2" type="button"><a
                            href="/search_cities">Find a
                            Tutor!</a>
                    </button>
                    <button class="btn btn-lg px-4 mx-2 my-1" id="hero-btn-1" type="button"><a href="/signup">Become a
                            Tutor!</a>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
<!---Hero Ends Here --------->
</div>
</header>

<!---Subject Section Start Here ---->
<div class="container cards-container">
    <div class="text-center mb-5">
        <hr style="background-color: #800080; padding: 1px; width: 20%; ">
        <h2 class="display-5 mb-3 subjects-section-title" id="subjects">We have got you covered!</h2>
        <p class="lead subject-section-lead">Start with your favourite subject.</p>
    </div>
    <!--    <h1 align="center" class="mb-5 subjects-section-title" id="subjects">We have got you covered!</h1>-->
    <div class="row cards-row">
        {% for i in ser %}
        <div class="col-md-4 col-sm-12">
            <div class="card mt-3">
                <div class="subject-1 align-items-center p-2 text-center">
                    <img alt="" class="rounded" src="{{i.image.url}}" width="160">
                    <h5 class="subject-category">{{i.category}}</h5>
                    <div class="mt-3 info">
                        <span class="text1 d-block">{{i.desc|slice:":80" }}</span>
                    </div>
                    <div class="tutors mt-3 text-dark"></div>
                    <span class="tutor-count">{{i.total}} Tutors</span>
                </div>
                <!--Button for card--->
                <div class="p-3 view-tutors-btn text-center text-white mt-3 cursor">
                    <span class="text-uppercase"><a href="{% url 'explore_services' i.id %}">View Tutors</a></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!---Subject Section Ends Here ---->

<!----------Testimonial Section Starts ------------->
<div class="testimonial-section">
    <div class="container">

        <div class="text-center my-4 py-5">
            <hr style="background-color: #fff; padding: 1px; width: 20%; ">
            <h2 class="display-5 mb-3 text-white">Join Hundred's of Happy Student's</h2>
            <p class="lead h5 text-white">See what others are saying about us!</p>


        </div>

        <div class="row">

            <!------------------## Testimonial 1 ##------------------------------>

            <div class="col-lg-4 mb-5">
                <div class="card">
                    <div class="d-flex p-3 just-content-start align-items-center">
                        <img alt="" class="testimonial-img mr-4" src="/static/images/female1.jpg">

                        <div class="name-job-review">
                            <p class="font-weight-bold mb-0">Roshni Shah</p>
                            <p class="text-muted mb-0">Verified Customer</p>

                            <ul class="list-inline text-center m-0">
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote">
                            <p class="mb-0"><i class="fas fa-quote-left testimonial-icon"></i> I love Tutor Desk so
                                much.
                                The app is the best way to find a tutor in my area and it even showed me a tutor that
                                had experience in my daughter's subject. Tutor Desk has really helped me make sure that
                                my daughter gets the help she needs to succeed at school.</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <!------------------## Testimonial 2 ##------------------------------>
            <div class="col-lg-4 mb-5">
                <div class="card">
                    <div class="d-flex p-3 just-content-start align-items-center">
                        <img alt="" class="testimonial-img mr-4" src="/static/images/female2.png">

                        <div class="name-job-review">
                            <p class="font-weight-bold mb-0">Kashiti Joshi</p>
                            <p class="text-muted mb-0">Verified Customer</p>

                            <ul class="list-inline text-center m-0">
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote">
                            <p class="mb-0"><i class="fas fa-quote-left testimonial-icon"></i> I am an intern and my job
                                involves working really long hours so I don't have the time to go find
                                someone to tutor my son. Tutor Desk has been great for me because it's connecting me
                                with tutors that I can book from my phone! Definitely recommend it to any
                                busy parents.</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <!------------------## Testimonial 3 ##------------------------------>
            <div class="col-lg-4 mb-5">
                <div class="card">
                    <div class="d-flex p-3 just-content-start align-items-center">
                        <img alt="" class="testimonial-img mr-4" src="/static/images/female3.jpg">

                        <div class="name-job-review">
                            <p class="font-weight-bold mb-0">Sonali Bora</p>
                            <p class="text-muted mb-0">Verified Customer</p>

                            <ul class="list-inline text-center m-0">
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                                <li class="list-inline-item"><i class="fas fa-star star-rating"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote">
                            <p class="mb-0"><i class="fas fa-quote-left testimonial-icon"></i> I was always looking for
                                a
                                tutor in my area but it was such a hassle. I would waste hours searching on google or
                                talking to friends. Tutor
                                Desk has made all of that effortless, with one-touch access to tutors in my city and
                                with plenty of time slots available in the app!</p>
                        </blockquote>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
<!----------Testimonial Section Ends --------------->

</div>

{% endblock %}