{% extends 'index.html' %}
{% load static %}
{% block body %}
<style>
<!--	a:hover {-->
<!--  background-color: yellow;-->
<!--  padding:20px;-->
<!--  border-radius:8px;-->
}


</style>

{% ifequal error "pat1" %}
<script>
    alert('logged in successfully');
    window.location=('{% url 'user_home' %}');


</script>
{% endifequal %}

{% ifequal error "notmember" %}
<script>
    alert('Your information is pending.plz Update Your Profile 1st.then continue this service');
    window.location=('{% url 'service_home' %}');


</script>
{% endifequal %}
{% ifequal error "pat2" %}
<script>
    alert('logged in successfully');
    window.location=('{% url 'service_home' %}');


</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert('Username & Password are not Matching');


</script>
{% endifequal %}


<!--	<div class="w3l_banner_info" style="height:10px">-->
<!--		<div class="slider1">-->
<!--			<div class="callbacks_container">-->
<!--				<ul class="rslides" id="slider3">-->
<!--					<li>-->
<!--						<div class="slider1-img" style="height:10px">-->
<!--							<div class="slider_banner_info">-->


<!--							</div>-->
<!--						</div>-->
<!--					</li>-->


<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	&lt;!&ndash; //banner-slider &ndash;&gt;-->
</div>
</header>

<section class="contact  py-lg-5 py-md-4 py-md-3" id="contact" style=" background-color: #800080;">
    <!-- contact -->
    <section class="wthree-row w3-contact" id="contact">
        <div class="container py-md-5">

            <div class="row contact-form ">
                <div class="col-lg-6  mt-lg-0 mt-5 map contact-right">

                    <div class="address mt-3">
                        <h5 class="pb-3 text-capitalize"></h5>
                        <address>
                            <img alt src="{% static 'images/login.png' %}" style="width:80%;"/>
                        </address>
                    </div>
                </div>
                <!--//contact map grid ends here-->
                <div class="col-lg-6">
                    <h1 class="display-5 text-white py-2">Login to your account.</h1>
                    <p class="lead text-white pb-2">Login to your account & get started!</p>
                    <hr align="left" style="width: 100%; background-color: #fff; padding: 1px;">
                    <!-- contact form grid -->
                    <div class="contact-top1">
                        <form action="" class="f-color" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="text-white" for="contactusername">Username</label>
                                <input class="form-control" id="contactusername" name="uname"
                                       placeholder="Enter Your Username" required type="text">
                            </div>
                            <div class="form-group ">
                                <label class="text-white" for="contactemail">Password</label>
                                <input class="form-control" id="contactemail" name="pwd"
                                       placeholder="Enter Your Password" required type="password">
                            </div>
                            <button class="btn btn-info btn-block" type="submit"><b>Submit</b></button>
                        </form>
                        <center style="margin-top:6%">
                            <a href="{% url 'signup' %}" style="margin-top:200px; font-weight:bold; color:white">
                                New user? Click here to create your account!</a>
                        </center>
                    </div>

                    <!--  //contact form grid ends here -->
                </div>
                <!-- contact details -->
                <!-- contact map grid -->

            </div>
        </div>
    </section>
</section>
<!-- //contact -->

{% endblock %}