{% extends 'index.html' %}
{% load static %}
{% block body %}
<style>
    th{
    color:black;
    font-weight:bold;
    }
</style>

	{% comment %} <div class="w3l_banner_info" style="height:10px">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:10px">
							<div class="slider_banner_info">


							</div>
						</div>
					</li>


				</ul>
			</div>
		</div>
	</div> {% endcomment %}
	<!-- //banner-slider -->
</div>
</header>

<div class="container-fluid" style="padding-top:7%; background-color: #800080; min-height: 450px;">
               <div class="container">
                    <div class="container-fluid pb-5">
                    <h1 class="display-5 text-white text-center pt-3">Manage Orders</h1>
                    <hr style="width: 25%; background-color: #fff; padding: 1px;">
                  </div>
                  <table class="table table-hover dblock" style="overflow-x: auto; white-space: nowrap; margin:auto;">
                    <thead>
                      <tr>
                        <th scope="col" class="text-white">#</th>
                        <th scope="col" class="text-white">Full Name</th>
                        <th scope="col" class="text-white">Contact</th>
                        <th scope="col" class="text-white">Address</th>
                        <th scope="col" class="text-white">Date</th>
                        <th scope="col" class="text-white">Days</th>
                        <th scope="col" class="text-white">Hours</th>
                        <th scope="col" class="text-white">Status</th>
                        <th scope="col" class="text-white">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in order %}
                        <tr>
                          <td class="text-white" >{{forloop.counter}}</td>
                          <td class="text-white" >{{i.customer.user.first_name}} {{i.customer.user.last_name}}</td>
                          <td class="text-white" >{{i.customer.contact}}</td>
                          <td class="text-white" >{{i.customer.address}}</td>
                          <td class="text-white" >{{i.book_date}}</td>
                          <td class="text-white" >{{i.book_days}}</td>
                          <td class="text-white" >{{i.book_hours}}</td>
                          {% ifequal i.status.status 'Accept' %}
                          <td><span style="color:white;background:green;padding:0.2em 0.8em 0.2em 0.8em;border-radius:8%">{{i.status.status}}</span></td>
                          {% else %}
                          <td><span style="color:white;background:red;padding:0.2em 0.8em 0.2em 0.8em;border-radius:8%">{{i.status.status}}</span></td>
                          {% endifequal %}
                          {% ifequal i.status.status 'Accept' %}
                          <td style="font-weight:bold;color:white;">Accepted</td>
                          {% else %}
                          <td><a href="{% url 'accept_confirmation' i.id %}" ><button class="btn btn-success"  onclick="return confirm('Are You Confirm for Accept Order?')"><i class="fa fa-thumbs-up"></i> Confirm</button></a></td>
                          {% endifequal %}
                      </tr>
                      {% endfor %}
                          </tbody>
                      </table>
             </div>
</div>
    {% endblock %}