{% extends 'index.html' %}
{% load static %}
{% block body %}
{% ifequal error "create" %}
<script>
    alert('Registration Successful');
    window.location=('{% url 'login' %}');

</script>
{% endifequal %}
<!-- //header -->

<!-- banner -->
<!-- banner-slider -->
<!--	<div class="w3l_banner_info" style="height:0px">-->
<!--		<div class="slider1">-->
<!--			<div class="callbacks_container">-->
<!--				<ul class="rslides" id="slider3">-->
<!--					<li>-->
<!--						<div class="slider1-img" style="height:0px">-->
<!--							<div class="slider_banner_info">-->


<!--							</div>-->
<!--						</div>-->
<!--					</li>-->


<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!-- //banner-slider -->
</div>
</header>

<section class="contact  py-lg-5 py-md-4 py-md-3 py-2" id="contact" style="background-color: #800080;">
    <h1 class="display-4 text-white text-center pt-3">Create Your Account</h1>
    <p class="lead text-white mb-0 text-center">Create a free account & get started!</p>
    <hr style="width: 10%; background-color: #fff; padding: 1px;">
    <!-- contact -->
    <section class="wthree-row w3-contact" id="contact">
        <div class="container py-md-5">

            <!----row starts signup form -------->

            <div class="row contact-form ">

                <!--------Column 1--------->

                <div class="col-lg-6  mt-lg-0 mt-5 map contact-right">

                    <div class="address mt-3">
                        <h5 class="pb-3 text-capitalize"></h5>
                        <address>
                            <img alt src="{% static 'images/sign3.png' %}" style="width:100%"/>
                        </address>
                    </div>
                </div>

                <!-------------Column 2------------------->

                <div class="col-lg-6 wthree-form-left signup-form">
                    <!-- contact form grid -->
                    <div class="contact-top1 ">
                        <form action="#" class="f-color" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <label for="contactusername">Username</label>
                                    <input class="form-control" name="uname" placeholder="Username" required=""
                                           type="text">
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label for="contactemail">Password</label>
                                    <input class="form-control" name="pwd" placeholder="Password" required=""
                                           type="password">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <label for="contactusername">First name</label>
                                    <input class="form-control" name="fname" placeholder="First Name" required=""
                                           type="text">
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label for="contactemail">Last Name</label>
                                    <input class="form-control" name="lname" placeholder="Last Name" required=""
                                           type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <label for="contactusername">Email</label>
                                    <input class="form-control" name="email" placeholder="Email address" required=""
                                           type="email">
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label for="contactusername">Profile Picture</label>
                                    <input class="form-control" name="image" required="" type="file">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <label for="contactusername">Contact</label>
                                    <input class="form-control" name="contact" placeholder="Phone Number" required=""
                                           type="text">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <label for="contactemail">Address</label>
                                    <input class="form-control" name="address" placeholder="Address" required=""
                                           type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 mb-2">
                                    <label class="text-white" for="contactemail">Select User Type</label>
                                    <p style="margin-bottom:4%;padding:9px;border:1px solid lightgrey;border-radius:2px">
                                        Tutor <input name="type" type="radio" value="service_man"> <span
                                            style="margin-left:2%">Student/Parent</span> <input name="type" type="radio"
                                                                                                value="customer"></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <button class="btn signup-btn btn-block" type="submit"><b>Register</b></button>
                                </div>
                            </div>


                        </form>
                    </div>
                    <!--  //contact form grid ends here -->
                </div>


                <!-- contact details -->
                <!-- contact map grid -->

                <!--//contact map grid ends here-->
            </div>
        </div>
    </section>
</section>
<!-- //contact -->

{% endblock %}