{% extends 'index.html' %}
{% load static %}
{% block body %}

<!--	<div class="w3l_banner_info" style="height:10px">-->
<!--		<div class="slider1">-->
<!--			<div class="callbacks_container">-->
<!--				<ul class="rslides" id="slider3">-->
<!--					<li>-->
<!--						<div class="slider1-img" style="height:10px">-->
<!--							<div class="slider_banner_info">-->


<!--							</div>-->
<!--						</div>-->
<!--					</li>-->


<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	&lt;!&ndash; //banner-slider &ndash;&gt;-->
</div>
</header>
<section class="contact  py-lg-5 py-md-4 py-md-3 py-4" id="contact" style="background-color: #800080;">
    <h1 class="display-5 text-white text-center pt-3">User Dashboard</h1>
    <hr style="width: 25%; background-color: #fff; padding: 1px;">



    <div class="container mt-5 mb-3">
        <div class="row my-2">
            <div class="col-md-4">
                <a href="/customer_order">
                <div class="card p-3 mb-2 dotted-border">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                                <div class="icon"><i aria-hidden="true" class="fa fa-ticket"></i></div>
                                <div class="ms-2 c-details">
                                    <h6 class="mx-2">View Bookings</h6>
                                    <span class="mx-2">View booked appointments.</span>
                                </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/search_cities">
                <div class="card p-3 mb-2 dotted-border">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"><i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                            <div class="ms-2 c-details">
                                <h6 class="mx-2">Search Tutors</h6>
                                <span class="mx-2">Find tutors in your city.</span>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/service">
                <div class="card p-3 mb-2 dotted-border">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </div>
                            <div class="ms-2 c-details">
                                <h6 class="mx-2">Subjects</h6>
                                <span class="mx-2">View subjects available.</span>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-4">
                <a href="/profile">
                <div class="card p-3 mb-2 dotted-border">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"><i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <div class="ms-2 c-details">
                                <h6 class="mx-2">Update Profile</h6>
                                <span class="mx-2">Change contact details.</span>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/change_password">
                <div class="card p-3 mb-2 dotted-border">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"><i class="fa fa-key" aria-hidden="true"></i>
                            </div>
                            <div class="ms-2 c-details">
                                <h6 class="mx-2">Change Password</h6>
                                <span class="mx-2">Create a strong password.</span>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/logout">
                <div class="card p-3 mb-2 dotted-border">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i>
                            </div>
                            <div class="ms-2 c-details">
                                <h6 class="mx-2">Logout</h6>
                                <span class="mx-2">Log out of your account.</span>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>


</section>
{% endblock %}